.formFilter {
  min-width: 320px;
  max-width: 640px;
  color: rgb(3, 3, 112);
}
.formName_label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 24px;
}
.formName_input {
  color: rgb(3, 3, 112);
  border: 1px solid;
  font-size: 18px;
}
.formName_input::placeholder {
  color: rgb(204, 204, 223);
}
